.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: .9375rem;
    line-height: 1.6;
    color: #080e1b;
    height: 39px;
    background-color: #fff;
    background-clip: padding-box;
    border: transparent !important;
    border-radius: 3px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #6d7e9c;
    opacity: 1;
}
.search-background {
    background: #fff;
    overflow: hidden;
    padding: 2px 5px 0px 15px;
    border-radius: 40px;
}
.input-lg {
    height: 46px !important;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 3px;
}
.sptb-1 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.form-control.input-lg {
    border-right: 1px solid !important;
}
.search-background span {
    padding-left: 10px;
}
.btn.btn-lg.btn-block.btn-primary.br-bl-0.br-tl-0 {
    order-radius: 25px;
}
.search-background span {
    padding-left: 10px;
    font-size: 19px;
    font-weight: 400;
}
.inner_banner h1 {
    padding-bottom: 35px;
}
