<!----- banner section------->
<div class="cover-image sptb-1 bg-background" data-image-src="/assets/images/red-luxury-sedan-road.png" style="background: url(&quot;assets/images/red-luxury-sedan-road.png&quot;) center center;">
<div class="banner_section">
 <div class="inner_banner">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
        <div class="text-center text-white ">
          <h1>World's largest parking slot sharing marketplace</h1>
        </div>
        <div class="search-background mb-0">
          <app-search-widget></app-search-widget>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
