<div [hidden]="loader" class="row loader_nw">
  <i class="fa fa-spin fa-spinner"></i>
</div>
<div class="row" >
  <div *ngFor="let list of listingdata" class="col-md-3">
    <div class="hm_scn_bl">
       <p class="amnt_hm">${{list.price}}</p>
       <p class="heart_icn"><i class="fa fa-heart-o" aria-hidden="true"></i></p>
      <img src="{{list.image}}">
      <h4 class="pt-4">{{list.name}}</h4>
      <p>{{list.address}}</p>
      <i *ngFor="let rate of list.rating" class="fa fa-star" aria-hidden="true"></i>
      {{list.price}} Hosts
    </div>
  </div>
</div>
