.hm_scn_bl img {
    width: 100%;
}
.hm_scn_bl p {
    font-size: 18px;
    margin-bottom: 5px;
}
.amnt_hm {
    position: absolute;
    top: 40%;
    left: 24px;
    background: #fff;
    padding: 0px 6px;
    color: #2146ad;
    font-weight: 500;
    border-radius: 5px;
}
.hm_scn_bl .fa.fa-heart-o {
    position: absolute;
    right: 27px;
    top: 42%;
    color: #fff;
}
.hm_scn_bl .fa.fa-star {
    color: #2146ad;
}
.recommended_scn h1{
	font-size: 25px;
}
.hm_scn_bl h4 {
    font-size: 20px;
}
.loader_nw {
    justify-content: center;
}
.loader_nw i {
    font-size: 25px;
    color: #2146ad;
}
.heart_icn i:hover {
  color: #2146ad !important;
}
