<!--------- footer--------->
<footer>
  <div class="ftr_scn">
    <div class="container">
     <div class="row">
       <div class="col-md-12">
         <p> Copyright © 2020 All rights reserved.</p>
       </div>
     </div>
    </div>
  </div>
</footer>
<!--------- end footer--------->
