<header>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light">
<a class="navbar-brand" href="#">Market Place</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav ml-auto">
  <li class="nav-item active">
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About us</a>
  </li>
  <li class="nav-item dropdown">
    <a ngbDropdown class="nav-link dropdown-toggle" ngbDropdownToggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      My Account
    </a>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Register</a>
      <a class="dropdown-item" href="#">Sign in</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Bookings</a>
    </div>
  </li>  
</ul>
</div>
</nav>
</div>
</header>
