@media screen and (max-width: 767px) {
	.search-background {
    background: #fff;
    overflow: hidden;
    padding: 12px 10px 20px 15px;
    border-radius: 40px;
}
.border_rgt_sd {
    border-right: 0px !important;
}
.sptb-1 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}
.amnt_hm {
    top: 49%;
}
.hm_scn_bl .fa.fa-heart-o {
    top: 50%;
}
.search-background[_ngcontent-bdu-c2] {
    background: #fff;
    overflow: hidden;
    padding: 10px 5px 10px 15px;
    border-radius: 40px;
}
.banner_section h1 {
    font-size: 23px;
    padding-bottom: 20px !important;
}
}
