<div class="form row no-gutters">

   <div class="form-group  col-xl-4 col-lg-3 col-md-3 mb-0 border_rgt_sd">
    <span>Where</span>
    <input type="text" class="form-control m-2" id="text" placeholder="Search by city,road or address"> </div>
   <div class="form-group col-xl-3 col-lg-4 select2-lg  col-md-12 mb-0 border_rgt_sd">
     <span class="from_spn">From</span>
     <div class="row">
      <div class="form-group col-xl-12 col-lg-12 select2-lg  col-md-12 mb-0">
      <!-- <select class="form-control select2-show-search border-bottom-0 w-100 select2-hidden-accessible" data-placeholder="Select" data-select2-id="1" tabindex="-1" aria-hidden="true">
            <option data-select2-id="3">8/30/2019</option>
            <option data-select2-id="3">9/30/2019</option>
           <option data-select2-id="3">7/30/2019</option>
      </select> -->
      <input placeholder="MM/DD/YYYY, HH:MM" class="form-control m-2" [owlDateTimeTrigger]="frmdt" [owlDateTime]="frmdt">
    <owl-date-time #frmdt></owl-date-time>
    </div>

   </div>
 </div>
  <div class="form-group col-xl-3 col-lg-4 select2-lg  col-md-12 mb-0 to_rgt">
     <span class="from_spn">To</span>
     <div class="row">
      <div class="form-group col-xl-12 col-lg-12 select2-lg  col-md-12 mb-0">
        <input placeholder="MM/DD/YYYY, HH:MM" class="form-control m-2" [owlDateTimeTrigger]="todt" [owlDateTime]="todt">
      <owl-date-time #todt></owl-date-time>
    </div>

   </div>
 </div>
   <div class="col-xl-2 col-lg-3 col-md-12 mb-0"> <a href="#" class="btn btn-lg btn-block btn-primary br-bl-0 br-tl-0">Search</a> </div>
</div>
