.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: .9375rem;
    line-height: 1.6;
    color: #080e1b;
    height: 39px;
    background-color: #fff;
    background-clip: padding-box;
    border: transparent !important;
    border-radius: 3px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #6d7e9c;
    opacity: 1;
}
.search-background {
    background: #fff;
    overflow: hidden;
    padding: 0px 5px 0px;
    border-radius: 40px;
}
.input-lg {
    height: 46px !important;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 3px;
}
a.btn.btn-lg.btn-block.btn-primary.br-bl-0.br-tl-0 {
    border-radius: 50px;
    margin-top: 5px;
    background: #2146ad;
    border: 2px solid #2146ad;
}
.form-control.input-lg {
    border-right: 1px solid !important;
}
.search-background span {
    padding-left: 10px;
    font-size: 19px;
    font-weight: 400;
}
.border_rgt_sd {
    border-right: 1px solid;
    padding-left: 10px;
}
.border_rgt_sd span {
    padding-left: 10px;
}
.from_spn {
    padding-left: 0px !important;
}
.form-group.to_rgt {
    padding-left: 10px;
}
.btn.btn-lg.btn-block.btn-primary.br-bl-0.br-tl-0:hover {
    background: transparent;
    color: #2146ad;
}
@media screen and (max-width: 767px) {
  .banner_section h1 {
      font-size: 23px;
      padding-bottom: 20px !important;
  }
}
