<div class="recommended_scn">
  <div class="container">
    <div class="row">
  <div class="col-md-12">
     <h1 class="pt-5">Recommended by you</h1>      

     <app-listing-widget></app-listing-widget>
</div>
</div>
</div>
</div>
